Дана задача.    
Имеются населённые пункты. Даны координты их координатоы и количество посылок необходимое туда достаивть.    
Надо определить в каком посёлке лучше всего разместить почтовый центр.

In [1]:
import numpy as np
import pandas as pd
from scipy.spatial import distance

In [2]:
x_axis = np.array([0.0, 0.18078584, 9.32526599, 17.09628721,
                      4.69820241, 11.57529305, 11.31769349, 14.63378951])

In [3]:
y_axis  = np.array([0.0, 7.03050245, 9.06193657, 0.1718145,
                      5.1383203, 0.11069032, 3.27703365, 5.36870287])

In [4]:
shipments = np.array([5, 7, 4, 3, 5, 2, 1, 1])

In [5]:
village = ['Тетерье',  
           'Журавец', 
           'Корсунь', 
           'Берёзовка', 
           'Протасово',  
           'Трудки',  
           'Нижний Туровец',  
           'Вышний Туровец']

In [6]:
data = pd.DataFrame({'x_coordinates_km': x_axis,
                     'y_coordinates_km': y_axis, 
                     'deliveries': shipments}, index=village)

In [7]:
data

                x_coordinates_km  y_coordinates_km  deliveries
Тетерье                 0.000000          0.000000           5
Журавец                 0.180786          7.030502           7
Корсунь                 9.325266          9.061937           4
Берёзовка              17.096287          0.171815           3
Протасово               4.698202          5.138320           5
Трудки                 11.575293          0.110690           2
Нижний Туровец         11.317693          3.277034           1
Вышний Туровец         14.633790          5.368703           1

In [8]:
vectors = data[['x_coordinates_km', 'y_coordinates_km']].values

In [9]:
distances = []
for village_from in range(len(village)):
    row = []
    for village_to in range(len(village)):
        value = distance.euclidean(vectors[village_from], vectors[village_to])
        row.append(value)
    distances.append(row)

In [10]:
distances_df = pd.DataFrame(distances, index=village, columns=village)
distances_df

,Тетерье,Журавец,Корсунь,Берёзовка,Протасово,Трудки,Нижний Туровец,Вышний Туровец
Тетерье,0.000000,7.032826,13.003049,17.097151,6.962431,11.575822,11.782578,15.587520
Журавец,7.032826,0.000000,9.367403,18.253103,4.897694,13.331114,11.752414,14.548226
Корсунь,13.003049,9.367403,0.000000,11.807753,6.066670,9.229704,6.118404,6.466869
Берёзовка,17.097151,18.253103,11.807753,0.000000,13.355848,5.521333,6.560071,5.750786
Протасово,6.962431,4.897694,6.066670,13.355848,0.000000,8.518887,6.876194,9.938258
Трудки,11.575822,13.331114,9.229704,5.521333,8.518887,0.000000,3.176805,6.082853
Нижний Туровец,11.782578,11.752414,6.118404,6.560071,6.876194,3.176805,0.000000,3.920660
Вышний Туровец,15.587520,14.548226,6.466869,5.750786,9.938258,6.082853,3.920660,0.000000

In [11]:
shipping_in_week = []
for i in range(len(distances)):
    row = []
    for j in range(len(distances)):
        x = 2 * np.dot(np.array(distances[i][j]), shipments[j])
        row.append(x)
    shipping_in_week.append(sum(row))

In [12]:
shipping_in_week_df = pd.DataFrame({'distance': shipping_in_week}, index=village)

In [13]:
shipping_in_week_df

                  distance
Тетерье         475.734656
Журавец         409.688787
Корсунь         454.776713
Берёзовка       701.242510
Протасово       334.564924
Трудки          513.067627
Нижний Туровец  459.977717
Вышний Туровец  577.345345

In [14]:
shipping_in_week_df.idxmin()[0]

'Протасово'