In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [2]:
columns = ['комнаты', 'пл. общая', 'кухня', 'пл. жилая', 'этаж', 'всего этажей']
realty = [
    [1, 38.5, 6.9, 18.9, 3, 5],
    [1, 38.0, 8.5, 19.2, 9, 17],
    [1, 34.7, 10.3, 19.8, 1, 9],
    [1, 45.9, 11.1, 17.5, 11, 23],
    [1, 42.4, 10.0, 19.9, 6, 14],
    [1, 46.0, 10.2, 20.5, 3, 12],
    [2, 77.7, 13.2, 39.3, 3, 17],
    [2, 69.8, 11.1, 31.4, 12, 23],
    [2, 78.2, 19.4, 33.2, 4, 9],
    [2, 55.5, 7.8, 29.6, 1, 25],
    [2, 74.3, 16.0, 34.2, 14, 17],
    [2, 78.3, 12.3, 42.6, 23, 23],
    [2, 74.0, 18.1, 49.0, 8, 9],
    [2, 91.4, 20.1, 60.4, 2, 10],
    [3, 85.0, 17.8, 56.1, 14, 14],
    [3, 79.8, 9.8, 44.8, 9, 10],
    [3, 72.0, 10.2, 37.3, 7, 9],
    [3, 95.3, 11.0, 51.5, 15, 23],
    [3, 69.3, 8.5, 39.3, 4, 9],
    [3, 89.8, 11.2, 58.2, 24, 25],
]

df_realty = pd.DataFrame(realty, columns=columns)

In [3]:
df_realty

    комнаты  пл. общая  кухня  пл. жилая  этаж  всего этажей
0         1       38.5    6.9       18.9     3             5
1         1       38.0    8.5       19.2     9            17
2         1       34.7   10.3       19.8     1             9
3         1       45.9   11.1       17.5    11            23
4         1       42.4   10.0       19.9     6            14
5         1       46.0   10.2       20.5     3            12
6         2       77.7   13.2       39.3     3            17
7         2       69.8   11.1       31.4    12            23
8         2       78.2   19.4       33.2     4             9
9         2       55.5    7.8       29.6     1            25
10        2       74.3   16.0       34.2    14            17
11        2       78.3   12.3       42.6    23            23
12        2       74.0   18.1       49.0     8             9
13        2       91.4   20.1       60.4     2            10
14        3       85.0   17.8       56.1    14            14
15        3       79.8    9.8       44.8     9            10
16        3       72.0   10.2       37.3     7             9
17        3       95.3   11.0       51.5    15            23
18        3       69.3    8.5       39.3     4             9
19        3       89.8   11.2       58.2    24            25

In [4]:
preference_index = 12
preference_vector = df_realty.loc[preference_index].values

In [5]:
preference_vector

array([ 2. , 74. , 18.1, 49. ,  8. ,  9. ])

In [6]:
distances = []
for i in range(len(df_realty)):
    x = df_realty.loc[i].values
    distances.append(distance.euclidean(preference_vector, x))

In [7]:
np.array(distances).argsort()[1]

15

In [8]:
df_realty.loc[12]

комнаты          2.0
пл. общая       74.0
кухня           18.1
пл. жилая       49.0
этаж             8.0
всего этажей     9.0
Name: 12, dtype: float64

In [9]:
df_realty.loc[15]

комнаты          3.0
пл. общая       79.8
кухня            9.8
пл. жилая       44.8
этаж             9.0
всего этажей    10.0
Name: 15, dtype: float64